---
import Layout from '../layouts/Layout.astro';
import MoonIcon from '../components/MoonIcon.astro';
const { PUBLIC_LINKEDIN_URL } = import.meta.env;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Nora Rozenboom - Full Stack Developer</title>
	</head>
	<body>
		<div id="loading-screen" class="fixed inset-0 bg-black z-50 text-white flex flex-col justify-center items-center">
			Delving deep...
			<span class="moonchild"></span>
		</div>
		<!-- <div class="absolute inset-0 flex justify-center items-center">
			<div class="relative opacity-30">
				<MoonIcon className='w-96 -rotate-[40.5deg]' fill='rgba(255,255,255,1)' />
				<MoonIcon className='absolute top-0 w-96 -rotate-[40.5deg] shaky' fill='rgba(255,255,255,.2)' />
			</div>
		</div> -->
		<nav class="relative z-10 h-24 text-white">
			<div class="fixed h-24 w-full">
				<span class="h-full container mx-auto flex justify-between items-center">
					<span class="w-48 font-serif uppercase">
						DagashiHime
					</span>
					<!-- <a href={PUBLIC_LINKEDIN_URL} target="_blank" class="w-48 flex justify-end font-serif font-bold">
						in
					</a> -->
				</span>
			</div>
		</nav>
		<main class="container mx-auto">
			<div class="h-[calc(100vh-6rem)] flex flex-col gap-4 text-white">
				<span class="flex justify-end items-end gap-2">
					My name is 
					<a id="me" href={PUBLIC_LINKEDIN_URL} target="_blank" class="group flex items-start">
						<strong class="relative text-5xl">
							<span class="absolute inset-x-0 text-center group-hover:block hidden whitespace-nowrap">
								<p class="">ノラ ロゼンボオム</p>
								<p class="absolute top-0 inset-x-0 opacity-20 shaky">ノラ ロゼンボオム</p>
							</span>
							<p class="block group-hover:opacity-0">Nora Rozenboom</p>
						</strong>
						<!-- change to lindedin logo -->
						<b class="h-7 aspect-square flex justify-center group-hover:border rounded-full group-hover:bg-white text-white group-hover:text-[#13151a]">in</b> 
					</a>
				</span>
				<span class="flex flex-col">
					<b class="text-xl">Full</b>
					<b class="text-6xl">Stack</b>
					<b class="text-6xl">Developer</b>
				</span>
			</div>

			<span class="">
				more fun content
			</span>
		</main>
	</body>
</html>

<script src="../main.js"></script>`
<style is:global>
	* {
		margin: 0;
	}
	main {
		position: relative;
	}
	canvas {
		position: absolute;
		top: 0;
		z-index: -1;
	}

	.shaky {
		animation: shaky-animation .6s infinite;
	}

	@keyframes shaky-animation {
		0% { translate: 0 0; }
		10% { translate: -2% 8% }
		30% { translate: 0 0 }
		50% { translate: 2% 5% }
		100% { translate: 0 0;}
	}
	
	.moonchild {
		display: block;
		height: 10rem;
		aspect-ratio: 1/1;
		border-radius: 99%;
		background: radial-gradient(17rem at 50% 30%, transparent 20%, white 20.5%);
		/* box-shadow: 0 .9rem 0 .7rem white; */
	}
</style>


<!-- 
<Layout title="Nora Rozenboom - Full Stack Developer">
	<div class="container mx-auto flex flex-col gap-4 font-serif">
		<span class="flex justify-end items-end gap-2">
			My name is 
			<a id="me" href={PUBLIC_LINKEDIN_URL} target="_blank" class="group flex items-start">
				<strong class="relative text-5xl">
					<span class="absolute inset-x-0 text-center group-hover:block hidden">
						<p class="">ノラ ロゼンボオム</p>
						<p class="absolute top-0 inset-x-0 opacity-20 shaky">ノラ ロゼンボオム</p>
					</span>
					<p class="block group-hover:opacity-0">Nora Rozenboom</p>
				</strong>
				<!-- change to lindedin logo 
				<b class="h-7 aspect-square flex justify-center group-hover:border rounded-full group-hover:bg-white text-white group-hover:text-[#13151a]">in</b> 
			</a>
		</span>
		<span class="flex flex-col">
			<b class="text-xl">Full</b>
			<b class="text-6xl">Stack</b>
			<b class="text-6xl">Developer</b>
		</span>
		<span class="grid grid-cols-3">
			<div class="relative col-start-2 col-span-2">
				<span class="absolute inset-0 flex justify-center items-center">
					<span class="flex flex-col">
						<p>Based in</p> 
						<b class="text-3xl">The Netherlands</b>
					</span>
				</span>
				<Netherlands className='text-white' fill='#13151a'></Netherlands>
			</div>
		</span>
	</div>
	<!-- <div class="bg-pink-100">
		about me
	</div> 
</Layout>